{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static '/css/sign.css' %}" />
    <title>Login form</title>
  </head>
  <body>
    
    <div class="container">
      <div class="container2">
        <img
          src="{%static 'images/pccoer.in.png' %}"
          id="img"
        />
      </div>
      <div class="container3">
        <h1>LOGIN</h1>
        <form action = "{% url 'login' %}" method = "POST">
          {% csrf_token %}
          <p>E-mail <input type="email" name="email" autocomplete="off" required /></p>
          <p>Password<input type="password" name="password" autocomplete="off" id="myInput" required/></p>
          
          <button>LOGIN</button>
          <!-- <button id="button">sign in with google</button> -->
        </form>
      </div>
    </div>
  </body>
  

</html>